p {

	font-family: Sans-Serif;

}#container {
  background-image: linear-gradient(red, yellow);
}

}#container2 {
  background-image: linear-gradient(blue, orange);
  width: 700px;
  height: 700px;

}

}#container3 {
  background-image: linear-gradient(gray, yellow);
  width: 500px;
  height: 500px;
}