p {

	font-family: Sans-Serif;

}#container {
  background-image: linear-gradient(red, yellow);
}

}#container2 {
  background-image: linear-gradient(blue, orange);
  width: 70%;
  height: 70%;
}

}#container3 {
  background-image: linear-gradient(gray, yellow);
  width: 50%;
  height: 50%;
}